<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simple Calculator</title>
</head>
<body background="https://pre00.deviantart.net/3b10/th/pre/f/2011/069/b/7/magic_circle_3d_by_zaiggen-d3bcn0x.jpg">
<form action="process" method="post">

  Enter value1: <input type="text" id="first" name="first">
  <br>
  <br>
  Enter Value2: <input type="text" id="second" name="second"><br>
  
<br>

<button name="blue"  onclick="add()">Addition </button> 

<button name="red"  onclick="sub()">SUbtraction </button> 


<button name="green"  onclick="mul()">Multiplication </button> 


<button name="white"  onclick="div()">Division </button> 
<br>



</form>
</body>
</html>